.place__image {
    max-width: 460px;
    grid-row: 2/4;
}

@media screen and (max-width: 1200px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 976px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 750px) {
    .place__image {
        max-width: 100%;
        margin-bottom: 32px;
    }
}